<!DOCTYPE html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <title>Lofty</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="Example description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href=""/>
  </head>

  <body>
    <div class="background">
      <div class="card">
        <form class="card-content">
          <input id="username" type="text" placeholder="USERNAME"  autocomplete="off">

          <input id="password" type="text" placeholder="PASSWORD"  autocomplete="off">

          <button class="btn" type="submit">
            Send
          </button>
        </form>
      </div>
    </div>

    <div class="main-layout">
      <nav>
        <div class="navbar">
          <a class='btn' href='#'>Sign up</a>
        </div>
      </nav>

      <main class="content">
        <div class="wrapper">
          <div class='box'></div>
          <div class='box'></div>
          <div class='box'></div>
          <div class='box'></div>
          <div class='box'></div>
          <div class='box'></div>
        </div>
      </main>

      <footer class="footer">
        <p>All rights reserved © 2020-2021 YS Portfolio</p>
      </footer>
    </div>
  </body>

</html>
